/* Variables */
:root {
      --green:#39b54a;
     --darkGray:#666;
     --lightGray:#ebebeb;
     --yellow:#EAC926;
     --blue: #03264C;
}

* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
/* Body */
body {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      background-color: var(--lightGray);
      max-width: 1440px;
     
    
}
.logo, .barra-de-busqueda, {
      width: 50%;
}
.grow{
      flex-grow: 33.33;
}
 header .flex-conteiner{
      display: flex;
      padding: 20px 5px;
}
header{
     background-color: var(--yellow);
      padding: 20px 0px;
      margin: auto;
      align-items: center;
}
.nav{
      display: none;
}


main {
      width: 90%;
      margin: auto;
      background-color: var(--lightGray);
    
}
.barra-de-busqueda{
      display: none;
}

.barras{
      display: block;
      margin: auto;
      text-align: center;
      width: 10%;
      border-radius: 5px;
      padding: 10px 3px;
      color:white;
      background-color: blue;
}
.banner{
    
}

.titles{
      font-size: 24px;
      color: var(--darkGray);
}

.precio{
      font-size: 18px;
      flex-grow: 0.3;
}

.descuentos, .descripciones{
      font-size: 16px;
}

.descripciones{
      opacity: 0%;
      display: none;
}
main section div article:hover .articulos .descripciones{
      display: block;
      opacity: 100%;
      
}
main section div article:hover{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.descuentos{
      color: var(--green);
      flex-grow: 0.3;
}

article {
      padding: 4px 4px 4px 4px;
}

.articulos{
      padding: 10px;
      border-top: solid 1px var(--darkGray);
    

}
.forFlex{
      display: flex;

}
.truck{
      border-radius:solid 10px var(--green);
      color: var(--green);
      position: relative;
      
}
main section div article div i:hover{
      transform: rotate(-90deg);
      transition: all 0.5s;
}

footer{
      background-color: var(--lightGray);
      text-align: center;
      justify-content: center;
      align-items: center;
     
     
}
footer section{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 8px;
      flex-grow: 0.3;
}
.footerIcons{
      margin: auto;
      text-align: center;
      font-size: 2rem;
      color: blue;
      padding-bottom: 10px;
      transition: all 1s;
}
.footerIcons:hover{
      color: #03264C;
}
.credit{
       
}
.gift{
     
}
.shield{
      
}
.copiright{
      display:flex;
      flex-direction: row;
      align-items: flex-start;
      left: 10px;
      bottom: 10px;

}

main section article i{
      display: block;
      font-size: 16px;
      padding: 5px;
      width: 30px;
      height: 30px;
      border: 1px solid #39b54a;
      background-color: #FFF;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: -15px;
}
.registro{
      background-color: var(--lightGray);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: solid 2px var(--darkGray);
      border-bottom: solid 2px var(--darkGray);
      padding: 10px;
}
.titulos{
      font-style: normal;
      color: black;
      font: 25px;
      text-transform: uppercase;
      
}
.boton-registro{
      width: 200px ;
      
      align-items: center;
}
.boton-registro, .boton-login{
      display: flex;
      flex-direction: column;
      background-color: blue;
      color: white;
      flex-wrap: wrap;
      border-radius: 3px;
      border-style: none;
      

}
.boton-login{
      width: 100% ;
      
      align-items: center;
}

.login{
      padding: 20px;
      background-color: var(--lightGray);
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: solid 2px var(--darkGray);
      border-top: solid 2px var(--darkGray);
}
button:hover{
      background-color: #0022AA;
      color: white;
      
}
  .style input{
       border-radius: 4px;
       width:250px ;
       border-style: none;
       
}
.style-log input{
      border-radius: 4px;
      width: 400px ;
      border-style: none;
}


@media (min-width: 361px) {
     .nav{
           display: block;
     }
     .barras{
          display: none;
     }
     .barra-de-busqueda{
           display: block;
      }
      .seccionesProductos{
           display: flex;
           flex-wrap: wrap;
     
     }
     .seccionesProductos article{
            width: 48%;
     }
}

@media (min-width: 769px) {
     .seccionesProductos article{
          width: 24%;
          margin: auto;
   }
}
